<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" href="/bootstrap-4.3.1-dist/css/bootstrap.min.css">
  <script src="/javascripts/jquery.js"></script>
  <script src="/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="/bootstrap-4.3.1-dist/css/bootstrap-slider.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <!-- Socket.io -->
  <script src="/socket.io/socket.io.js"></script>
  
  <!-- code -->
  <link rel="stylesheet" href="/editor/lib/codemirror.css">
  <link rel="stylesheet" href="/editor/theme/darcula.css">
  <style>
    .CodeMirror {border: 1px solid black; font-size:13px}
  </style>
</head>

<body>
  <div class="">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Thymio</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <!-- <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
              </li> -->
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <button id="connect_btn" class="btn btn-md btn-success connect_btn">Connect <span id="connect_loader"
                class="spinner-border spinner-border-sm connect_loader" style="display: none" role="status"
                aria-hidden="true"></span>
            </button>
            <button style="display: none" id="disconnect_btn" class="btn btn-md btn-danger disconnect_btn">Disconnect <span
              id="disconnect_loader" class="spinner-border spinner-border-sm disconnect_loader" style="display: none" role="status"
              aria-hidden="true"></span>
          </button>
            </form> 
          </div>
    </nav>
  </div>

  <div class="content ">
    <hr>
    <div class="container">
      <div class="row  bg-dark">
        <div class="col-md-12">
          <h2>Connect to Thymio</h2>
          <div class="row">
            <div class="col-md-6">
              <button id="connect_btn" class="btn btn-lg btn-success connect_btn">Connect <span id="connect_loader"
                  class="spinner-border spinner-border-sm connect_loader" style="display: none" role="status"
                  aria-hidden="true"></span>
              </button><br>
            </div>
            <div class="col-md-6">
              <button style="display: none" id="disconnect_btn" class="btn btn-lg btn-danger disconnect_btn">Disconnect <span
                  id="disconnect_loader" class="spinner-border spinner-border-sm disconnect_loader" style="display: none" role="status"
                  aria-hidden="true"></span>
              </button>
            </div>
          </div>
          <p id="res"></p>
        </div>
      </div>
      <br>
      <div class="row  bg-dark">
        <div class="col-md-6"><br>
          <h2 class="text-center">Sensors</h2>
          <hr>
          <form>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group row">
                  <div class="col-sm-12 small">PROX Left</div>
                  <div class="col-md-12">
                    <div class="progress">
                      <div id="proxLeft" class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                        aria-valuemax="100" style="width: 0%">0</div>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="form-group row">
                  <div class="col-sm-12 small">PROX Center Left</div>
                  <div class="col-md-12">
                    <div class="progress">
                      <div id="proxCenterLeft" class="progress-bar" role="progressbar" aria-valuenow="75"
                        aria-valuemin="0" aria-valuemax="100" style="width: 0%">0</div>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="form-group row">
                  <div class="col-sm-12 small">PROX Center</div>
                  <div class="col-md-12">
                    <div class="progress">
                      <div id="proxCenter" class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                        aria-valuemax="100" style="width: 0%">0</div>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="form-group row">
                  <div class="col-sm-12 small">PROX Center Right</div>
                  <div class="col-md-12">
                    <div class="progress">
                      <div id="proxCenterRight" class="progress-bar" role="progressbar" aria-valuenow="75"
                        aria-valuemin="0" aria-valuemax="100" style="width: 0%">0</div>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="form-group row">
                  <div class="col-sm-12 small">PROX Right</div>
                  <div class="col-md-12">
                    <div class="progress">
                      <div id="proxRight" class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                        aria-valuemax="100" style="width: 0%">0</div>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="form-group row">
                  <div class="col-sm-12 small">PROX Bottom Left</div>
                  <div class="col-md-12">
                    <div class="progress">
                      <div id="proxBottomLeft" class="progress-bar" role="progressbar" aria-valuenow="75"
                        aria-valuemin="0" aria-valuemax="100" style="width: 0%">0</div>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="form-group row">
                  <div class="col-sm-12 small">PROX Bottom Right</div>
                  <div class="col-md-12">
                    <div class="progress">
                      <div id="proxBottomRight" class="progress-bar" role="progressbar" aria-valuenow="75"
                        aria-valuemin="0" aria-valuemax="100" style="width: 0%">0</div>
                    </div>
                  </div>
                </div>
                <hr>
              </div>
              <div class="col-md-4">
                <div class="form-group row">
                  <div class="col-sm-12 small">PROX Ground Ambiant0</div>
                  <div class="col-md-12">
                    <div class="progress">
                      <div id="proxGroundAmbiant0" class="progress-bar   bg-info" role="progressbar" aria-valuenow="75"
                        aria-valuemin="0" aria-valuemax="100" style="width: 0%">0</div>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="form-group row">
                  <div class="col-sm-12 small">PROX Ground Ambiant 1</div>
                  <div class="col-md-12">
                    <div class="progress">
                      <div id="proxGroundAmbiant1" class="progress-bar   bg-info" role="progressbar" aria-valuenow="75"
                        aria-valuemin="0" aria-valuemax="100" style="width: 0%">0</div>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="form-group row">
                  <div class="col-sm-12 small">PROX Ground Reflected 0</div>
                  <div class="col-md-12">
                    <div class="progress">
                      <div id="proxGroundReflect0" class="progress-bar   bg-info" role="progressbar" aria-valuenow="75"
                        aria-valuemin="0" aria-valuemax="100" style="width: 0%">0</div>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="form-group row">
                  <div class="col-sm-12 small">PROX Ground Reflected 1</div>
                  <div class="col-md-12">
                    <div class="progress">
                      <div id="proxGroundReflect1" class="progress-bar   bg-info" role="progressbar" aria-valuenow="75"
                        aria-valuemin="0" aria-valuemax="100" style="width: 0%">0</div>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="form-group row">
                  <div class="col-sm-12 small">PROX Ground Delta 0</div>
                  <div class="col-md-12">
                    <div class="progress">
                      <div id="proxGroundDelta0" class="progress-bar   bg-info" role="progressbar" aria-valuenow="75"
                        aria-valuemin="0" aria-valuemax="100" style="width: 0%">0</div>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="form-group row">
                  <div class="col-sm-12 small">PROX Ground Delta 1</div>
                  <div class="col-md-12">
                    <div class="progress">
                      <div id="proxGroundDelta1" class="progress-bar   bg-info" role="progressbar" aria-valuenow="75"
                        aria-valuemin="0" aria-valuemax="100" style="width: 0%">0</div>
                    </div>
                  </div>
                </div>
                <hr>
              </div>
              <div class="col-md-4">
                <div class="form-group row">
                  <div class="col-sm-12 small">Accelerometer 0</div>
                  <div class="col-md-12">
                    <div class="progress">
                      <div id="accelerometer0" class="progress-bar bg-info" role="progressbar" aria-valuenow="75"
                        aria-valuemin="0" aria-valuemax="100" style="width: 50%;animation-direction: reverse;">0</div>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="form-group row">
                  <div class="col-sm-12 small">Accelerometer 1</div>
                  <div class="col-md-12">
                    <div class="progress">
                      <div id="accelerometer1" class="progress-bar bg-info" role="progressbar" aria-valuenow="75"
                        aria-valuemin="0" aria-valuemax="100" style="width: 0%">0</div>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="form-group row">
                  <div class="col-sm-12 small">Accelerometer 2</div>
                  <div class="col-md-12">
                    <div class="progress">
                      <div id="accelerometer2" class="progress-bar bg-info" role="progressbar" aria-valuenow="75"
                        aria-valuemin="0" aria-valuemax="100" style="width: 0%">0</div>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="form-group row">
                  <div class="col-sm-12 small">Temperature</div>
                  <div class="col-md-12">
                    <div class="progress">
                      <div id="temperature" class="progress-bar bg-info" role="progressbar" aria-valuenow="75"
                        aria-valuemin="0" aria-valuemax="100" style="width: 0%">0</div>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="form-group row">
                  <div class="col-sm-12 small">Mic Intensity</div>
                  <div class="col-md-12">
                    <div class="progress">
                      <div id="micIntensity" class="progress-bar bg-info" role="progressbar" aria-valuenow="75"
                        aria-valuemin="0" aria-valuemax="100" style="width: 0%">0</div>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="form-group row">
                  <div class="col-sm-12 small">Mic Threshold</div>
                  <div class="col-md-12">
                    <div class="progress">
                      <div id="micThreshold" class="progress-bar bg-info" role="progressbar" aria-valuenow="75"
                        aria-valuemin="0" aria-valuemax="100" style="width: 0%">0</div>
                    </div>
                  </div>
                </div>
                <hr>
              </div>
            </div>



            <div class="form-group row">
              <div class="col-sm-12 small">Motor Left</div>
              <div class="col-md-12">
                <div class="progress">
                  <div id="motorLeft" class="progress-bar bg-info" role="progressbar" aria-valuenow="75"
                    aria-valuemin="0" aria-valuemax="100" style="width: 0%">0</div>
                </div>
              </div>
            </div>
            <hr>
            <div class="form-group row">
              <div class="col-sm-12 small">Motor Right</div>
              <div class="col-md-12">
                <div class="progress">
                  <div id="motorRight" class="progress-bar bg-info" role="progressbar" aria-valuenow="75"
                    aria-valuemin="0" aria-valuemax="100" style="width: 0%">0</div>
                </div>
              </div>
            </div>
            <hr>
            <div class="form-group row">
              <div class="col-sm-12">
                Left Motor
              </div>
              <div class="col-md-6">

                <input class="multi-range motorSlider" id="leftMotor" title="left" onchange="motor(this)" type="range"
                  style="width: 100%;" max="250" , min="-250">
              </div>
              <div class="col-sm-12">
                Right Motor
              </div>
              <div class="col-md-6">
                <input class="multi-range motorSlider" id="rightMotor" title="right" type="range" onchange="motor(this)"
                  style="width: 100%;" max="250" , min="-250">
              </div>

            </div>

          </form>
        </div>
        <div class="col-md-6"><br>
          <h2 class="text-center">Code</h2>
          <hr>
          <form action="">
            <div class="form-group">
              <textarea name="code" id="code" ><%= script%></textarea>
            </div>
            <div class="form-group row">
              <div class="col-sm-10">
                <button type="submit" id="save" class="btn btn-success">Save <span
                  id="save_loader" class="spinner-border spinner-border-sm disconnect_loader" style="display: none" role="status"
                  aria-hidden="true"></span></button>
                <button type="submit" id="run" class="btn btn-success">Execute</button>
                <button type="submit" id="kill" class="btn btn-danger" disabled>Kill</button>
              </div>
            </div>
            
          </form>
          <div class="col-md-12">
            <h2 class="text-center">Log</h2><hr>
            <form action="">
              <div class="form-group row">
                <textarea name="log" id="log" ></textarea>
              </div>
              <div class="form-group row">
                <button type="submit" id="save_log" class="btn btn-success" >Save Log</button>  
                <button type="submit" id="clear_log" class="btn btn-danger" >Clear Log</button>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
    <hr>
  </div>


  <footer class="container-fluid  text-center">
    <p>Footer Text</p>
  </footer>
  <script src="/bootstrap-4.3.1-dist/js/bootstrap-slider.min.js"></script>
  <script src="/editor/lib/codemirror.js"></script>
  <script src="/editor/mode/python/python.js"></script>
  <script src="/editor/addone/selection/active-line.js"></script>
  <script src="/editor/addone/edit/matchbrackets.js"></script>
  <script src="/javascripts/app.js"></script>
</body>

</html>