 /* Remove the navbar's default margin-bottom and rounded borders */ 
 .navbar {
  margin-bottom: 0;
  border-radius: 0;
}
body{
  background-color: #242424;
}
/* Add a gray background color and some padding to the footer */
footer {
  background-color: #424242;
  padding: 25px;
}

.carousel-inner img {
  width: 100%; /* Set width to 100% */
  margin: auto;
  min-height:200px;
}
.error{
    outline: 1px solid red;
} 

/* Hide the carousel text when the screen is less than 600 pixels wide */
/* @media (max-width: 600px) {
.carousel-caption {
  display: none; 
}
} */
.content{
  min-height: 500px;
  background-color: #4e4e4e;
  color: white;
}
hr{
  background-color:white;
}
.progress-bar{
  color: black;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}
.CodeMirror {
  border: 1px solid #eee;
  height: auto;
  width: 100%;
}