 /* Remove the navbar's default margin-bottom and rounded borders */ 
 .navbar {
  margin-bottom: 0;
  border-radius: 0;
}
body{
  background-color: #242424;
}
/* Add a gray background color and some padding to the footer */
footer {
  background-color: #424242;
  padding: 25px;
}

.carousel-inner img {
  width: 100%; /* Set width to 100% */
  margin: auto;
  min-height:200px;
}
.error{
    outline: 1px solid red;
} 

/* Hide the carousel text when the screen is less than 600 pixels wide */
/* @media (max-width: 600px) {
.carousel-caption {
  display: none; 
}
} */
.content{
  min-height: 500px;
  background-color: #4e4e4e;
  color: white;
}
hr{
  background-color:white;
}